html{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;

}


body {
    background: #FCFAF4;
    overflow-y: scroll;
    font-family: 'Cabin', sans-serif;
    
    

}

.reveal{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: 2s all ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}


.top-hero {
    background-image: url('../images/Frame.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 4rem ;
    /* display: block; */

}


/*Colors specifications*/

.text-color-secondary {
    color: #F04E37;
}

.text-color-brown {
    color: #554B48;
}

.text-color-optionals {
    color: #792D12;
}

.bg-color-secondary {
    background-color: #F04E37;
}

.top-body, .access, .hero-mid-section, .join-section, .expan, .footer{
    padding: 4rem;
}

.top-body p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 21px;
    line-height: 28px;
    margin: 2rem 0;
}


/*Sections Stylings*/

.hero-info-text-h1 {
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 4rem;
    /* line-height: 69px; */
}

.hero-info-text-h4 {
    font-family: 'Cabin', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 35px;
}

.hero-top-section {
    background: #F9F1ED;
    border-radius: 0px;
}

.hero-mid-section {
    background: #FCF4E9;
    border-radius: 0px;
    /* height: 35rem; */
    
}

.hero-buttom-section {
    background: #E3C6B7;
}


/*Alignments*/

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.flex-display {
    display: flex;
}


/* .flex-item-left{
    fl;
} */


/*Footer Stylings*/

.footer {
    background: #554B48;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* height: 400px; */
    /* display: flex; 
    padding: 2rem;
    justify-content: space-between; */
   
    
}
.footer-content{
    display: flex;
    gap: 4rem;
}
.social{
    display: flex;
    flex-direction: column;
    
}
.footer-heading{
    font-size: 21px;
    font-style: normal;
    font-weight: 500
}
.major-list{
    display: flex;
    justify-content: space-between;
    width: 50vw;
    color: #FCFAF4;
    /* margin-right: 12rem; */
    font-size: 12px;
}
.footer p a {    
    font-size: 15px;
    color: #FFA093;
    text-decoration: none;
    }

.pol{
    font-size: 11px;
    margin-top: 1rem;
    text-align: right;
    color: #F79C7C;

}

.footer-logo{
}

/*Button Stylish and Customization of Bootstrap colors*/

.tertiary-button {
    background: #554B48 !important;
    border-radius: 10px !important;
    background-color: #554B48 !important;
    border-color: #554B48 !important;
    color: #FCFAF4;
    padding: 1rem 2rem;
}

.no-border {
    border: none;
    background: none;
}

.secondary-button {
    background: #F15A24;
    border-radius: 10px;
    
}

.grouped-button-center {
    display: flex;
    justify-content: center;
}
.btncheck1{
    margin: 20px;
}


.azarel-outline-button-secondary {
    border: 2px solid #FF4300;
    border-radius: 12px;
    height: 58px;
    width: 250px;
    color: #F15A24;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    margin-left: 10px;
    margin-right: 10px;
}

.azarel-outline-button-secondary:hover {
    background: #F15A24;
    color: #FCFAF4;
    border: #FF4300;
}

button:hover{
   filter: brightness(85%);
}
button:focus, .btn:focus{
    outline: 0px;
}
button:active, .btn:active{
    outline: 0px;
    transform: translateY(2px);

}
.col-sm-6{
    margin-top: 12%;
}


.je{
    margin-top: 12%;
    font-family: 'Cabin', sans-serif;
font-size: 56px;
font-style: normal;
font-weight: 500;
line-height: 58px;
letter-spacing: 0em;
text-align: left;

font-family: 'Cabin', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 56px;
line-height: 58px;
color: #F04E37;
}
.eihter{
    width: 238px;
height: 76px;
left: 207px;
top: 357px;

font-family: SF Pro Display;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
text-align: left;


color: #554B48;
}
.li{
    

font-family: SF Pro Display;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 28px;

color: #554B48;
}

.fi{
font-family: 'Cabin', sans-serif;
font-size: 56px;
font-weight: 500;
line-height: 58px;
letter-spacing: 0em;
text-align: right;
color: #F04E37;
}

.se{
font-size: 18px;
line-height: 25px;
text-align: right;
color: #554B48;
}
.group-appstore-buttons-1{
    margin-left: 12%;
}
.a{
    
margin-left: 13%;

font-family: SF Pro Display;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 34px;
letter-spacing: 0em;
text-align: left;

color: #554B48;
}

.ba{
    height: 116px;
width: 426px;
left: 207px;
top: 1933px;
border-radius: nullpx;

font-family: 'Cabin', sans-serif;
font-size: 56px;
font-style: normal;
font-weight: 500;
line-height: 58px;
letter-spacing: 0em;
text-align: left;
color: #F04E37;
}

.get{
    height: 76px;
width: 238px;
left: 207px;
top: 2070px;
border-radius: nullpx;

font-family: SF Pro Display;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
text-align: left;
color: #554B48;
}
.ch{
   

font-family: SF Pro Display;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: left;
color: #554B48;
}

.re{
    height: 116px;
width: 358px;
left: 926px;
top: 2766px;
border-radius: nullpx;
 margin-left: 32%;
font-family: 'Cabin', sans-serif;
font-size: 56px;
font-style: normal;
font-weight: 500;
line-height: 58px;
letter-spacing: 0em;
text-align: right;
color: #F04E37;
}

.had{
    height: 76px;
width: 238px;
left: 1042px;
top: 2903px;
border-radius: nullpx;

font-family: SF Pro Display;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
text-align: right;
color: #554B48;
margin-left: 54%;
}
.eas{
   
margin-left: 12%;
font-family: SF Pro Display;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 28px;
letter-spacing: 0em;
text-align: left;
color: #554B48;
}
.col-sm-0{
    height: 659.5555419921875px;
    width: 371px;
    left: 975px;
    top: 6434px;
    margin-top: -99%;
    margin-left: 134%;
    border-radius: 0px;

    
}


.ly{
    height: 116px;
width: 172px;
left: 27px;
top: 6512px;
border-radius: nullpx;

font-family: 'Cabin', sans-serif;
font-size: 56px;
font-style: normal;
font-weight: 500;
line-height: 58px;
letter-spacing: 0em;
text-align: left;

color: #792D12;
}
.aza{
    height: 76px;
width: 238px;
left: 207px;
top: 6649px;
border-radius: nullpx;

font-family: SF Pro Display;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
text-align: left;
color: #554B48;
}
.an{
    

font-family: SF Pro Display;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 33px;
letter-spacing: 0em;
text-align: left;

}

.mae{
    height: 116px;
width: 499px;
left: 785px;
top: 7388px;
border-radius: nullpx;

font-family: 'Cabin', sans-serif;
font-size: 56px;
font-style: normal;
font-weight: 500;
line-height: 58px;
letter-spacing: 0em;
text-align: right;
color: #792D12;
}
.up{
    height: 76px;
width: 238px;
left: 1042px;
top: 7525px;
border-radius: nullpx;

font-family: SF Pro Display;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
text-align: right;
color: #554B48;

margin-left: 58%;
}
.pee{
 margin-left: 2%; 
 
font-family: SF Pro Display;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 33px;
letter-spacing: 0em;
text-align: left;
color: #554B48;
}

.ment{
    height: 116px;
width: 426px;
left: 207px;
top: 8225px;
border-radius: nullpx;

font-family: 'Cabin', sans-serif;
font-size: 56px;
font-style: normal;
font-weight: 500;
line-height: 58px;
letter-spacing: 0em;
text-align: left;
color: #792D12;
}
.req{
    height: 76px;
width: 238px;
left: 207px;
top: 8362px;
border-radius: nullpx;

font-family: SF Pro Display;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
text-align: left;

color: #554B48;
}
.fro{
    
margin-left: -60;
font-family: SF Pro Display;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 33px;
letter-spacing: 0em;
text-align: left;
color: #554B48;
}
.col2{
    margin-top: -134%;
    margin-left: 140%;
}
.ings{
    height: 116px;
width: 358px;
left: 926px;
top: 9058px;
border-radius: nullpx;

font-family: 'Cabin', sans-serif;
font-size: 56px;
font-style: normal;
font-weight: 500;
line-height: 58px;
letter-spacing: 0em;
text-align: right;
color: #792D12;
margin-left: 20%;
}
.hom{
    height: 76px;
width: 238px;
left: 1042px;
top: 9195px;
border-radius: nullpx;

font-family: SF Pro Display;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 25px;
letter-spacing: 0em;
text-align: right;
color: #554B48;
margin-left: 47%;
}
.aje{
   

font-family: SF Pro Display;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 33px;
letter-spacing: 0em;
text-align: left;
color: #554B48;
}
.ng{
    margin-left: 40%;
    margin-top: -10%;
}
.x{margin-left: -10.9%;}

.expan{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

}
.todaytoady{
font-family: 'Cabin', sans-serif;
font-size: 57px;
font-style: normal;
font-weight: 400;
text-align: center;
margin: 4rem auto;
color: #F04E37;
}

.form-control{
    /* border: 5em; */
    width: 60%;
    border-radius: 0.75rem;
    height: 3.75rem;
    margin-right: 1rem;
}
.btn66 {
    text-align: center;
    color: #FCFAF4;
    background: #F15A24;
    border: navajowhite;
    border-radius: 0.75rem;
    font-size: 1rem;
    width: 20%;

   

}
.tr{
    margin-top: -10%;
   
    margin-left: 190%;
    left: 0px;
    top: 0px;
    border-radius: 12px;
    width: 29%;
    height: 63px;
    color: #FCFAF4;
    

}
.form-control2{
    width: 30vw;
    border-radius: 12px;
    height: 40px;
    background: #FFFFFF;
    border: 2px solid #F79C7C;
    padding: 0.2rem 0.5rem;
}
.btn-outline-secondary02{
    background: #FF4300;
    color: #FFFFFF;
}

.phone-img{
    max-width: 80%;
}

.flex-apart{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 2rem 4rem; */
}

@media only screen and (max-width: 500px) {
    .mt-5{
        margin-top: 0rem !important;
    }
    .btn66{
        width: fit-content;
    }
    .hero-info-text-h1 {
        font-size: 2rem;
    }
    .top-hero, .top-body, .access, .hero-mid-section, .join-section, .expan, .footer{
        padding: 2rem;
    }

    .logo-img, .footer-logo img{
        width: 8rem;
    }
    .tertiary-button{
        padding: 0.5rem;
    }
    
    .azarel-outline-button-secondary{
        width: 9rem;
    }
    .col-reverse{
        flex-direction: column-reverse;
    }
    .col-dir{
        flex-direction: column;
    }
    .flex-img img{
        height: 25rem;
    }
    .je, .fi, .todaytoady{
        font-size: 46px;
    }
    .todaytoady{
        margin: 1rem auto;
    }
    .form-control2{
        width: 50vw;
    }

    .footer-content{
        flex-direction: column;
        gap: 1rem;
    }
    .major-list{
        width: 80vw;
    }

}