/*Body Styling*/

body {
    background: #FCFAF4;
    overflow-y: scroll;
    font-family: sans-serif, 'Museo Sans';
    font-style: normal;
    line-height: 23px;
    margin: 0px;
    padding: 0px;
}


/*Navigation styling*/

/* .nav-arazel-bg {
    background-image: url('../images/Frame.png');
    background-repeat: no-repeat;
    background-size: 100% 95%;
    height: 850px;
    padding-top: 0px;
} */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 15px 20px 15px;
    font-size: 14px;
    background: #F9F1ED;
}

/*header styling*/
.header-section {
    background-image: url('../images/Frame.png');
    background-repeat: no-repeat;
    height: 100vh;
    background-color: #F9F1ED;
    background-position: right 250px;
    padding: 30px 15px;
}

.header-title {
    font-weight: bold;
    font-size: 36px;
    padding-bottom: 18px;
}

.mobile-btns {
    padding-bottom: 18px;
    text-align: center;
}

.mobile-btns button img {
    margin-bottom: 12px;
}

#header-input-form {
    width: 100%;
    margin-bottom: 15px;
}

.azarel-brown,
.azarel-light,
.azarel-beige {
    padding: 30px 20px;
}

/*header styling*/

#section-two .section-text,
#section-three .section-text,
.section-twelve,
.section-title {
    text-align: center;
}

.section-title {
    padding-bottom: 10px;
}

.section-btns {
    text-align: center;
}

.section-btns img {
    margin-bottom: 10px;
}

.section-text {
    padding-bottom: 20px;
}

/*section three styling*/
.cst-btns {
    text-align: center;
}

/*section three styling*/

/* footer */
/*FOOTER STYLING STARTS HERE*/
footer {
    display: block;
    padding: 40px 20px;
    color: #fff;
    background: #554B48;
}

footer a {
    color: #FFA093;
    text-decoration: none;
}

.footer-subtitle {
    padding-top: 40px;
    text-align: center;
}


footer .footer-item {
    padding: 20px 0;
}

footer ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

footer li {
    padding: 10px 0;
}

footer .footer-item-title {
    font-weight: bold;
    font-size: 20px;
}

footer .icons li {
    display: inline;
    font-size: 18px;
    padding: 0 10px;
}

/*FOOTER STYLING ENDS HERE*/
/* footer */


/*Colors specifications*/

.text-color-secondary {
    color: #F04E37;
}

.text-color-brown {
    color: #554B48;
}

.text-color-optionals {
    color: #792D12;
}

.bg-color-secondary {
    background-color: #F04E37;
}


/*Button Stylish and Customization of Bootstrap colors*/

.azarel-brown {
    background: #E3C6B7;
    color: #554B48;
}

.azarel-beige {
    background: #FCF4E9;
}

.tertiary-button {
    background: #554B48;
    border-radius: 10px;
    background-color: #554B48;
    border-color: #554B48;
    color: #FCFAF4;
    padding: 9px 20px;
}

.no-border {
    border: none;
}

.az-btn-fill {
    border: none;
    border-radius: 12px;
    background: #FF4300;
    color: white;
    padding: 12px 30px;
}

.az-btn-trans {
    border: 2px solid #FF4300;
    border-radius: 12px;
    background: none;
    color: #FF4300;
    padding: 12px 30px;
    margin-bottom: 10px;
}

.az-input {
    background: #FFFFFF;
    border: 2px solid #F79C7C;
    border-radius: 12px;
    padding: 10px;
}

.az-input-borderless {
    background: #FFFFFF;
    border: 2px solid white;
    border-radius: 12px;
    padding: 10px;
}

.transparent {
    background: transparent;
}

.section-title {
    font-size: 28px;
    font-weight: bold;
}

.section-img img {
    width: 100%;
}

.secondary-button {
    background: #F15A24;
    border-radius: 10px;
}

.grouped-button-center {
    left: 35%;
    right: 35%;
    position: absolute
}

.azarel-outline-button-secondary {
    border: 2px solid #FF4300;
    border-radius: 12px;
    height: 58px;
    width: 250px;
    color: #F15A24;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
}

.azarel-outline-button-secondary:hover {
    background: #F15A24;
    color: #FCFAF4;
    border: #FF4300;
}

/* DESKTOP STYLING */

/*MEDIA QUERIES STYLING STARTS HERE*/
@media screen and (min-width: 500px) {
    nav {
        padding: 20px 72px 20px 72px;
    }

    .azarel-brown,
    .azarel-light,
    .azarel-beige {
        padding: 140px 20px;
    }

    .header-section {
        background-color: #F9F1ED;
        background-position: top left;
        height: 90vh;
        padding: 70px 72px 20px 72px;
    }

    .header-text {
        width: 50%;
    }

    .header-subtitle {
        width: 70%;
    }

    .mobile-btns {
        text-align: left;
    }

    .header-form {
        padding-top: 70px;
    }

    #header-input-form {
        width: 70%;
        margin-bottom: 15px;
    }


    #section-two .section-img {
        text-align: center;
    }

    .section-img img {
        width: 40%;

    }
}

/* DESKTOP STYLING */